* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.bottom-bar {
  margin: auto;
  height: 2px;
  border-radius: 5px;
  width: 8%;
  background-color: orange;
}
@media (min-width: 768px) {
  .bottom-bar {
    width: 3%;
  }
}

#navbar {
  display: flex;
  flex-direction: column;
  padding: 2% 10%;
}
#navbar .logo {
  width: 40%;
  margin: auto;
}
#navbar .navs {
  list-style: none;
  display: flex;
}
#navbar .navs li {
  margin: auto;
}
#navbar .navs a {
  text-decoration: none;
  color: #f4f4f4;
}
@media (min-width: 1024px) {
  #navbar {
    justify-content: space-between;
    flex-direction: row;
  }
  #navbar .logo {
    width: 5%;
    margin: auto 0;
  }
  #navbar .navs li {
    padding-left: 40px;
    margin: auto 0;
  }
}

#header-home {
  background: url("../img/rsz_nathan-anderson-iyo-egosrco-unsplash.jpg") no-repeat center;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#header-home .header-content {
  display: none;
}
@media (min-width: 1024px) {
  #header-home {
    height: 100vh;
  }
  #header-home .header-content {
    display: block;
    text-align: center;
    margin-top: 10%;
    color: #f4f4f4;
  }
  #header-home .header-content h1 {
    font-size: 4rem;
    padding-bottom: 10px;
  }
  #header-home .header-content p {
    padding-bottom: 30px;
  }
  #header-home .header-content button {
    border: none;
    border: 1px solid gray;
    padding: 15px 20px;
    font-size: 16px;
    transition: 0.5s;
  }
  #header-home .header-content button:hover {
    cursor: pointer;
    background-color: orange;
    color: #f4f4f4;
  }
}

#footer {
  background-color: #333333;
  color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  height: 90px;
  padding: 20px;
}
#footer p {
  margin: auto 0;
}
#footer .social-container ul {
  display: flex;
  margin: auto 0;
  list-style: none;
}
#footer .social-container ul li {
  padding-left: 20px;
}
#footer .social-container ul li i {
  color: #f4f4f4;
  transition: 0.5s;
}
#footer .social-container ul li i:hover {
  color: orange;
}
@media (min-width: 768px) {
  #footer p {
    margin: auto 5%;
  }
  #footer .social-container {
    margin: auto 6%;
  }
}

#about {
  text-align: center;
  margin: 3% 0;
  color: #333333;
}
#about h3 {
  padding: 20px 0 10px 0;
  font-size: 2rem;
}
#about .about-text {
  padding-top: 20px;
}
#about .bio {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10% 20%;
}
#about .bio-pic {
  width: 100%;
}
#about .bio-text {
  margin: 0 auto;
  padding: 20px;
}
#about .info {
  margin: 5% 0 0 0;
  background-color: #333333;
}
#about .info .info-cards {
  padding: 40px 20px;
  color: #f4f4f4;
}
#about .info .info-cards i {
  background-color: orange;
  color: #333333;
  padding: 30px;
  border-radius: 50%;
}
#about .info .info-cards h4 {
  padding: 20px 0 10px 0;
}
#about .skills {
  background-color: lightgray;
  padding: 20px;
}
#about .skills .skills-container {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}
#about .skills .skills-container .html {
  color: orangered;
}
#about .skills .skills-container .css {
  color: steelblue;
}
#about .skills .skills-container .js {
  color: goldenrod;
}
#about .skills .skills-container .sass {
  color: hotpink;
}
#about .skills .skills-container .bootstrap {
  color: darkorchid;
}
#about .skills .skills-container .wordpress {
  color: steelblue;
}
#about .skills .skills-container p {
  display: none;
  padding-top: 20px;
  color: gray;
}
@media (min-width: 768px) {
  #about .bio {
    display: flex;
    justify-content: space-evenly;
    margin: 10% 15%;
  }
  #about .bio-pic {
    width: 30%;
  }
  #about .bio-text {
    margin: auto 0;
  }
  #about .bio-text p {
    margin: auto 0;
  }
  #about .info {
    display: flex;
  }
  #about .info .info-cards p {
    padding: 0 30px;
  }
  #about .skills {
    padding-bottom: 40px;
  }
  #about .skills .skills-container {
    padding-top: 40px;
  }
  #about .skills .skills-container i,
#about .skills .skills-container svg {
    transition: all 0.2s ease-in-out;
  }
  #about .skills .skills-container i:hover,
#about .skills .skills-container svg:hover {
    transform: scale(1.6);
  }
}
@media (min-width: 1024px) {
  #about .bio {
    margin: 5% 20%;
  }
  #about .info .info-cards {
    padding: 60px 20px;
    width: 33.3%;
  }
  #about .info .info-cards p {
    padding: 0 60px;
  }
  #about .skills .skills-container {
    padding: 40px 240px 20px 240px;
  }
  #about .skills .skills-container p {
    display: block;
  }
}

#work {
  text-align: center;
  color: #333333;
}
#work h3 {
  padding: 20px 0 10px 0;
  font-size: 2rem;
}
#work .work-text {
  padding-top: 20px;
}
#work .projects {
  position: relative;
  margin: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
#work .projects-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.4s ease;
  background-color: orange;
  cursor: pointer;
}
#work .projects-overlay h4 {
  color: #f4f4f4;
  margin: 20% 0 auto;
  font-size: 2rem;
}
#work .projects-overlay p {
  color: #f4f4f4;
  font-size: 1rem;
}
#work .projects:hover .projects-overlay {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  opacity: 90%;
}
#work img {
  width: 100%;
  cursor: pointer;
}
@media (min-width: 768px) {
  #work .project-container {
    display: flex;
    flex-wrap: wrap;
  }
  #work .projects {
    width: 44%;
  }
}
@media (min-width: 1024px) {
  #work .project-container {
    margin: 3%;
  }
  #work .project-container .projects {
    width: 27%;
  }
}

#contact {
  background-color: orange;
  color: #f4f4f4;
  text-align: center;
}
#contact h3 {
  font-size: 3rem;
  padding: 30px 0 30px 0;
}
#contact .contact-info {
  display: flex;
  justify-content: space-evenly;
}
#contact .contact-info i {
  color: #333333;
}
#contact .contact-info p {
  padding: 10px 0 40px 0;
  color: #333333;
}
@media (min-width: 1024px) {
  #contact .contact-info {
    margin: 0 30%;
  }
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
}

.modal {
  width: 80%;
  margin: 30% auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid #778;
  border-radius: 5px;
  padding: 30px 20px;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
  border: none;
  font-size: 30px;
  color: grey;
}
.modal-content .container {
  margin: 5%;
}
.modal-content .container img {
  width: 100%;
}
.modal-content .container .modal-bio h4 {
  margin-bottom: 10%;
}
.modal-content .container .modal-bio .tools-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5%;
}
.modal-content .container .modal-bio .tools-list .tools {
  border: 2px solid orange;
  border-radius: 5px;
  padding: 5px;
  margin: 0 1% 5% 0;
}
.modal a {
  text-decoration: none;
}
.modal-buttons {
  display: flex;
  justify-content: space-evenly;
}
.modal-buttons .buttons {
  border: 1px solid orange;
  border-radius: 20px;
  padding: 10px 20px;
  color: #f4f4f4;
  background-color: orange;
}
.modal-buttons .buttons:hover {
  opacity: 70%;
}
@media (min-width: 768px) {
  .modal {
    margin: 7% auto;
  }
}
@media (min-width: 1024px) {
  .modal {
    margin: 10% auto;
  }
  .modal-content .container {
    margin: 1%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .modal-content .container img {
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .modal-content .container .modal-bio {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 2% 5%;
  }
  .modal-content .container .modal-bio h4 {
    font-size: 2rem;
  }
  .modal-content .container .modal-bio .tools-list {
    justify-content: unset;
  }
  .modal-buttons {
    justify-content: space-between;
    max-width: 220px;
  }
}

/*# sourceMappingURL=style.css.map */
