#about {
  text-align: center;
  margin: 3% 0;
  color: #333333;
  & h3 {
    padding: 20px 0;
    font-size: 2rem;
  }
  & .bio {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10% 20%;
    &-pic {
      width: 100%;
    }
    &-text {
      margin: 0 auto;
      padding: 20px;
    }
  }
  & .info {
    margin: 5% 10%;
    & .info-cards {
      padding: 40px 0;
      border-bottom: 0.5px solid lightgray;
      & i {
        background-color: #333333;
        color: #f4f4f4;
        padding: 30px;
        border-radius: 50%;
      }
      & h4 {
        padding: 20px 0 10px 0;
      }
    }
  }
  @include mq("med") {
    & .bio {
      display: flex;
      justify-content: space-evenly;
      margin: 10% 15%;
      &-pic {
        width: 30%;
      }
      &-text {
        margin: auto 0;
        & p {
          margin: auto 0;
        }
      }
    }
    & .info {
      display: flex;
      & .info-cards {
        border: none;
        margin: auto;
        padding: 20px;
      }
    }
  }
  @include mq("lg") {
    & .bio {
      margin: 5% 20%;
    }
  }
}
