#about {
  text-align: center;
  margin: 3% 0;
  color: #333333;
  & h3 {
    padding: 20px 0;
    font-size: 2rem;
  }
  & .bio {
    &-pic {
      width: 60%;
      padding: 30px 0;
      // border-radius: 50%;
    }
    &-text {
      background-color: rgb(236, 236, 236);
      margin: 0 auto;
      padding: 10px;
      width: 40%;
    }
  }
  @include mq("med") {
    & .bio {
      display: flex;
      justify-content: space-evenly;
      &-pic {
        width: 30%;
      }
      &-text {
        margin: auto 0;
        & p {
          margin: auto 0;
        }
      }
    }
  }
  @include mq("lg") {
  }
}
