#work {
  text-align: center;
  color: #333333;
  // margin: 0 5%;
  & h3 {
    padding: 20px 0 10px 0;
    font-size: 2rem;
  }
  & .work-text {
    padding-top: 20px;
  }
  & .projects {
    margin: 3%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    & .project-bio {
      padding: 10px;
      & h4 {
        padding-bottom: 20px;
      }
      & .view-project-icons {
        display: flex;
        justify-content: space-evenly;
        padding: 10px 150px;
        & a {
          text-decoration: none;
          color: orange;
          transition: 0.3s;
          &:hover {
            opacity: 70%;
          }
        }
      }
    }
  }
  & img {
    width: 100%;
    border-radius: 5px;
  }
  @include mq("med") {
    & .project-container {
      display: flex;
      flex-wrap: wrap;
    }
    & .projects {
      width: 44%;
      & .project-bio {
        & .view-project-icons {
          padding: 10px 130px;
        }
      }
    }
  }
  @include mq("lg") {
    & .project-container {
      margin: 3%;
      & .projects {
        width: 27%;
        & .project-bio {
          & .view-project-icons {
            padding: 10px 130px;
          }
        }
      }
    }
  }
}
